body {
  margin: 0;
  padding: 0 20px;
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
  margin: 20px 0px;
}

.add-form {
  text-align: right;
  margin-bottom: 20px;
}

.add-form button {
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid rgb(78, 78, 78);
}

.add-form button:hover {
  background-color: rgb(220, 221, 221);
}

.conteiner-tasks {
  border-top: 1px solid rgb(78, 78, 78);
  /* отмена выделения текста */
  user-select: none; 
}

.content-task {
  background-color:khaki;
  border-left: 1px solid rgb(78, 78, 78);
  border-right: 1px solid rgb(78, 78, 78);
  border-bottom: 1px solid rgb(78, 78, 78);
  font-size: 1em;
}

.content-task:hover {
  background-color:rgb(230, 215, 82);
}

.task {
  display: flex;
  padding: 10px 20px 10px 5px;
}

.task-controll {
  display: flex;
}

.task-status,
.task-edit,
.task-delete
 {
  border-radius: 50%;
  height: 20px;
  min-width: 20px;
  background-repeat: no-repeat;
  flex-grow: 0;
}

.task-status:hover,
.task-edit:hover,
.task-delete:hover {
  background-color: aquamarine;
}

.task-status {
  background-image: url('../img/status-no.svg');
  background-position: center;
  background-size: cover;
}

.task-edit {
  background-image: url('../img/pencil.svg');
  background-position: 50% 35%;
  background-size: 65%;
  border: 1.5px solid black;
  box-sizing: border-box;
  margin-right: 5px;
}

.task-delete {
  background-image: url('../img/cross.svg');
  background-position: center;
  background-size: cover;
}

.task-status.done {
  background-image: url('../img/status-yes.svg');
}

.task-description {
  margin: 5px 35px 15px;
}

.task-name {
  margin-left: 10px;
  flex-grow: 1;
  word-break: break-word;
}

.task-created {
  min-width: 20%;
  text-align: center;
}

.hidden {
  display: none;
}